body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border-bottom: 1px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Header h1 {
    margin: 0;
    /* line-height: 4rem; */
}

.Header__link {
    margin-left: 2rem;
    color: #222;
    text-decoration: none;
    padding: 0.5rem;
}

.Header__link:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.current,
.current:hover,
.current:active {
    background-color: #fff;
}
